-r common-requirements.txt

# Add your own requirements below.

ocdskit
-e git+https://github.com/open-contracting/sphinxcontrib-opencontracting.git@2b01a27cdb7b8a2b5e77f18c4792083f2ff5fc22#egg=sphinxcontrib-opencontracting
-e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@75e4427b0f6f6a23dff9019aeb5d64833aab104a#egg=sphinxcontrib-jsonschema
-e git+https://github.com/OpenDataServices/sphinxcontrib-opendataservices.git@80b8607bc0b0e10455a51e3e83e9831d6b72e127#egg=sphinxcontrib-opendataservices
