-r common-requirements.txt

# Add your own requirements below.

-e git+https://github.com/open-contracting/sphinxcontrib-opencontracting.git@2b01a27cdb7b8a2b5e77f18c4792083f2ff5fc22#egg=sphinxcontrib-opencontracting
-e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@75e4427b0f6f6a23dff9019aeb5d64833aab104a#egg=sphinxcontrib-jsonschema
-e git+https://github.com/jpmckinney/sphinxcontrib-opendataservices.git@f12e7d6c423d5c6c72c63e6891a1d90429843644#egg=sphinxcontrib-opendataservices
